@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Noto";
  src: url(../assets/fonts/NotoSerif-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Noto";
  src: url(../assets/fonts/NotoSerif-Bold.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Heebo";
  src: url(../assets/fonts/Heebo-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: "Heebo";
  src: url(../assets/fonts/Heebo-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Heebo";
  src: url(../assets/fonts/Heebo-Medium.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Heebo";
  src: url(../assets/fonts/Heebo-Regular.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Heebo";
  src: url(../assets/fonts/Heebo-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Heebo";
  src: url(../assets/fonts/Heebo-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Heebo";
  src: url(./assets/fonts/Heebo-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: "Heebo";
  src: url(../assets/fonts/Heebo-Black.ttf);
  font-weight: 900;
}

/* Replace with tailwind */
:root {
  /* Fonts */
  --letterSpacingSmaller: 0.05em;
  --letterSpacingSmall: 0.1em;
  --letterSpacingMedium: 0.2em;

  /* Color */

  /* Go to mockup and find the shades of gray */
  /* then order them based on value, using tailwind styles */

  --dashboardBackground: #e5e5e5;

  --lightestGray: #f6f6f6;
  --lightGray: #f0f0f0;
  --gray: #9b9b9b;

  --primary-pulse: #3773ffb0;
  --notification-pulse: #fdcb40c7;
}

@layer base {
  body {
    @apply font-sans font-light text-black m-0 p-0 overflow-hidden;
  }

  h1 {
    @apply font-serif font-normal;
  }

  h3 {
    @apply font-light;
  }
}
